# ============================================================
# This file must be inserted in folder:
# ~/.local/share/applications/
#
# File name (rename it to): cropper.desktop
#
# After moving the file in the folder, than type in terminal:
# chmod +x ~/.local/share/applications/cropper.desktop
# update-desktop-database ~/.local/share/applications/
# ============================================================

[Desktop Entry]
Version=1.0
Type=Application
Name=Cropper
Name[en]=Cropper
Name[en_US]=Cropper
Comment=Cropping of PNG & JPG & Webp
Exec=python3 /home/user/cropper.py %F
Icon=applications-graphics
Terminal=false
Categories=Graphics;Utility;
MimeType=image/png;image/jpeg;image/jpg;
StartupNotify=true
